	*{
		margin:0px auto;
	}
	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Varela', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		color: #656565;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	ul.actions
	{
		text-align: center;
	}
		
		ul.actions li
		{
		}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}
	
	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #2d645f;
		border-radius: 7px;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 18px;
		color: #6F6F6F;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}
	
	#wrapper
	{
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		width: 100%;
		position: relative;
	}

	#header
	{
		width: 100%;
		z-index: :1000;
		position: fixed;
		height:60px;
		background: #f8192e;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		font-size: 22px;
		margin-top: -5px;
		margin-left: 60px;
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		font-size: 16px;	
		margin-right: 40px;
		margin-top: -8px;	
		position: absolute;
		top: 2em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		border-radius: 8px;
		color: #2d645f;
	}
	
	#menu .current_page_item a
	{
		background: #dc572e;
		color: #FFF;
	}
	
	#menu .icon
	{
	}
/*********************************************************************************/
/* Page                                                                       */
/*********************************************************************************/

	#page
	{
		padding: 5em 0em;
		text-align: center;
	}
	
	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}

/*********************************************************************************/
/* Galeri                                                                         */
/*********************************************************************************/


div.gallery:hover {
    border: 20px solid #fff;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    margin-left: 70px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		position: relative;
		margin:0px 20px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.5);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #af1641;
		color: rgba(255,255,255,.8);
		text-align: center;
	}

	#featured a
	{
		color: rgba(255,255,255,1);
	}
	
	#featured .button
	{
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
		color: #2d645f;
	}

	#featured img
	{
		margin-bottom: 3em;
		border-radius: 7px;
	}

	#featured .title h2
	{
		color: #FFF;
	}

	#featured .title .byline
	{
		color: rgba(255,255,255,.6);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
		text-align: center;
}


	#extra
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#extra .title
	{
		text-align: center;
	}
	
	#extra .button
	{
		margin-top: 5em;
	}
	
	#extra .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}

/**********************************************************
	LOGIN
**********************************************************/

.login {
    position: absolute;
    width: 100%;
    height: 100%;
    background:url(../img/bookbg.png)no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.login-logo{
	font-size: 35px;
	padding-left: 360px;
}
.login-logo a:link{
	text-decoration: none;
}
.login-box{
	margin-top: 150px;
	margin-left: 150px;
	width: 800px;
	height: 300px;
	background-color: transparent;
	border-radius: 20px;
}

.login-logo{
	padding-top: 10px;
	float: center;
}

.login-box-body{
	width: 320px;
	margin-left: 350px;
	margin-top: 40px;
}



body {
    font-family: "lora";
}

.navbar {
    background-color: #171717;
    border-bottom: 1px solid #333333;
}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
}

.nav-link {
    color: white;
}

.nav-link span {
    color: #F9B234;
    font-weight: 600;
}

/* Carousel */
.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: "Lora";
}

.carousel p {
    font-weight: 200;
}

.features h3,
.testimonial h3,
.similar-product h3,
.cart-header h3,
.checkout-modal-succes h3 {
    font-family: "Lora";
    font-weight: bold;
    color: #1B2690;
}

.features p,
.testimonial p,
footer p .similar-product p,
.cart-header p,
.checkout-modal-succes p {
    font-weight: 200;
    color: #B7B7B7;
}

.figure h5 {
    color: #171717;
}

.figure-image {
    position: relative;
}

.figure-image a {
    position: absolute;
    top: 0;
    bottom: 8px;
    right: 0;
    left: 0;
    background-color: rgba(54, 51, 51, 0.7);
    opacity: 0;
    transition: 0.3s;
}

.figure-image:hover a {
    opacity: 1;
}

.warna a {
    color: #1B2690;
}

.btn-product {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #EAEAEF;
}

.btn-product .btn {
    display: block;
    margin: 10px;
}


.checkout-detail {
    background-color: #F6F7FB;
    border: 1px solid #EAEAEA;
    color: #171717;
}